<div class="p-lg">
  <mat-toolbar-row>
    <h1 class="title">Olá, Cliente!</h1>
    <p class="subtitle">Controle seus cartões e acompanhe suas transações de forma simples e segura.</p>
  </mat-toolbar-row>
</div>

<div class="container">
  <section class="cards-container ph-lg">
    @for (card of cards; track card.id; let idx = $index) {
    <div class="pb-md">
      <app-card [isActive]="idx === activedCardIndex" [bank]="card.bank" [id]="card.id" [number]="card.number"
        [bank]="card.bank" [type]="card.type" [brand]="card.brand" [limitAvailable]="card.limitAvailable"
        [bestPurchaseDay]="card.bestPurchaseDay" (onClick)="onCardClick(card, idx)"></app-card>
    </div>
    } @empty {
    <div class="container-empty">
      <p>Sua lista de cartões está vazia.</p>
    </div>
    }
  </section>
  <section class="transactions-container p-lg">
    <mat-card>
      @for (transaction of transactions; track transaction.id) {
      <app-transaction [amount]="transaction.amount" [category]="transaction.category" [merchant]="transaction.merchant"
        [date]="transaction.date" [installments]="transaction.installments"></app-transaction>
      @if(transaction != transactions.at(-1)){<div class="ph-md"><mat-divider></mat-divider></div>}
      } @empty {
      <div class="container-empty">
        <p>Sua lista de transações está vazia.</p>
      </div>
      }
    </mat-card>
  </section>
</div>