.title {
  font-size: 24px;
  color: var(--text-primary);
  margin: 0;
}

.subtitle {
  font-size: 16px;
  margin: 5px 0 0;
  color: var(--text-secondary);
}

mat-divider.mat-divider-vertical {
  border-width: 2px;
  opacity: 0.2;
}

.container {
  display: flex;
  flex-direction: row; /* Organiza as seções na horizontal */
  height: calc(100vh - 76px); /* Ocupa toda a altura da tela */
}

.cards-container {
  overflow-y: auto;
}

.transactions-container {
  display: flex;
  flex: 1;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  width: 100%; /* Garante que a seção ocupe toda a largura disponível */
}
