<div class="sidebar">
  <!-- Header com a Logo -->
  <div class="sidebar-header">
    <img src="assets/logo/logo.png" alt="Logo" class="logo" />
  </div>

  <!-- Menu de Navegação -->
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/">
        <span class="icon">🏠</span>
        <span class="text">Home</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/fatura">
        <span class="icon">📄</span>
        <span class="text">Fatura</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/cartao">
        <span class="icon">💳</span>
        <span class="text">Cartão</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/shop">
        <span class="icon">🛍️</span>
        <span class="text">Shop</span>
      </a>
    </li>
  </ul>
</div>