<div class="bottom-app-bar">
  <!-- Menu de Navegação no Bottom App Bar -->
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/">
        <img class="icon" src="assets/icons/tab-home.svg" alt="home" />
        <span class="text">Home</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/fatura">
        <img class="icon" src="assets/icons/tab-invoice.svg" alt="fatura" />
        <span class="text">Fatura</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/cartao">
        <img class="icon" src="assets/icons/tab-card.svg" alt="cartão" />
        <span class="text">Cartão</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/shop">
        <img class="icon" src="assets/icons/tab-shop.svg" alt="shop" />
        <span class="text">Shop</span>
      </a>
    </li>
  </ul>
</div>